.weather-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    gap: 0.7rem;
}

.weather-property {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    margin-left: 5%;
}
.weather-property p {
    margin-top: auto;
    margin-bottom: auto;
}

.weather-property img {
    width: 7%;
}

.headerGap {
    margin-bottom: 3%;
}

.transparent {
    filter: opacity(0%);
}